<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891780424814-7ldp72b16l52d28r8tch8su7nju70tor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891780424814-7ldp72b16l52d28r8tch8su7nju70tor</string>
	<key>API_KEY</key>
	<string>AIzaSyB5d3UGP0IU9e9WqerHo6aiO9JCR5jbQwo</string>
	<key>GCM_SENDER_ID</key>
	<string>891780424814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>None.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclonefirestore-d9275</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclonefirestore-d9275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891780424814:ios:b00df2ab220bb7be94b27f</string>
</dict>
</plist>